body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.jogo-da-memoria {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.carta {
    width: 100px;
    height: 150px;
    perspective: 1000px;
    position: relative; /* Adicione esta linha */
    cursor: pointer; /* Adicione esta linha */
}

.carta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    backface-visibility: hidden; /* Adicione esta linha */
    transition: transform 0.5s; /* Adicione esta linha */
}

.frente {
    transform: rotateY(0deg);
}

.verso {
    transform: rotateY(180deg);
}

.virar {
    transform: rotateY(0deg);
}

.desabilitada {
    pointer-events: none; /* Impede que cartas desabilitadas sejam clicadas */
    opacity: 0.7; /* Altera a opacidade de cartas desabilitadas */
}
